extends layout

block content
  
  h1 Hello Shop!
  h2 Welcome, #{user.name}.
  
  div
    div.outlined 
      p User #{user.name} id #{user.id} 
    div.outlined 
      p Cart #{id} has
      ul
        each entry in items
          li 
            b= entry
  hr

  em Fresh as of #{meta.now} on #{meta.host}

  //- script(src ='/javascripts/cart.js')
  //- script paintCart();
